.products{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 2rem;
margin-top: 100px;
}

.products li{
flex-direction: column;
gap: 1rem;
box-shadow: 0 0 10px 10px var(--product-shadow);
border-radius: 4px;
background: var(--product-bg);
color: var(--product-text);
padding: 1rem;
list-style: none;
}

.products h3{
margin: 0;
}

.products span{
font-size: 1rem;
opacity: 0.9;
}
.products img{
border-radius:  4px;
width: 100%;
aspect-ratio: 16/9;
display: block;
object-fit: cover;
background: var(--product-img-bg);
}

@media (max-width: 768px) {
.products {
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    padding-top: 180px;
}
}